@import '../../style/default';

.header {
  background-color: @colorM;
  .header-top {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    a {
      margin-left: 40px;
    }

    text-align: right;
  }

  .breadcrumb {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
    .breadcrumb-title {
      font-size: @fontC;
      position:relative;
      justify-content: center;
      display: flex;
      &:after {
        content: '';
        position:absolute;
        top:39px;
        border-top: 9px solid @colorM;
        border-left: 12px solid transparent;
        border-right:12px solid transparent;
      }
    }


    .weather {
      text-align: right;

      .date {
        vertical-align: middle;
      }

      .weather-img {
        font-size: 0;
        vertical-align: middle;

        img {
          height: 15px;
          margin-left: 20px;
        }
      }

      .weather-detail {
        margin-left: 20px;
        vertical-align: middle;
      }
    }
  }
}
